<style>
  .goods-detail img { max-width: 100%; height: auto !important; }
</style>
<div class="content container py-5">
  <div id="numberApp">
    <div v-if="goods">
      <div class="row mb-4 g-5">
        <div class="col-lg-4 col-sm-12">
          <image style="width: 100%; height: auto" :src="goods.logo" fit="contain">
          </image>
        </div>
        <div class="col-lg-8 col-sm-12" ref="myRef">
          <input type="hidden" name="goods_id" :value="goods.id" ref="id" />
          <div class="theme-size30">{{ goods.title }}<span class="theme-second theme-size15 float-end pt-4">月兑：{{ goods.sales }}</span></div>
          <div v-if="goods.attribute_list">
            <div v-for="(i, k) in goods.attribute_list" :key="i">
              <div class="theme-gray theme-size15 my-4">{{ k }}</div>
              <div class="row g-4 w-lg-75 w-100 mb-4">
                <div class="col-lg-4 col-6" v-for="(item, index) in i" :key="index">
                  <div class="theme-size15 p-2 text-center rounded" style="cursor: pointer;" :class="colorIndex === index ? 'theme-red border border-danger' : 'theme-second theme-bg1 border'" @click="changeColorCategray(item, index)">
                    {{ item }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="theme-gray theme-size15 d-flex align-items-center">数量：
              <div><el-input-number size="medium" v-model="num" :min="1" :disabled="!goods.total_stock"></el-input-number></div>
              <span class="theme-second ms-2">库存 {{ goods.total_stock }}</span>
            </div>
            <div class="theme-size15 d-flex align-items-center flex-wrap my-lg-0 my-4">
              <del class="theme-second">售价：{{ goods.market_price }}</del>
              <span class="theme-red mx-4">积分：{{ goods.integral }}</span>
              <button type="button" class="btn btn-danger" style="width: 120px; background-color: #FF2C49;" @click="order" :disabled="!goods.total_stock">兑换</button>
            </div>
          </div>
        </div>
      </div>

      <div class="my-4 theme-size20">宝贝详情</div>
      <div v-if="goods.property">
        <div class="row theme-second theme-size15 infoslist">
          <div class="col-lg-4 col-sm-12 mb-2" v-for="(item, index) in goods.property.keys">
            <div>{{ item }}： {{ goods.property.values[index] }}</div>
          </div>
        </div>
      </div>

      <div class="my-5 goods-detail">
        <div class="overflow-hidden" v-html="goods.detail"></div>
      </div>
    </div>
    <div v-if="errMessage" class="d-flex justify-content-center" :style="{'height': errHeight}">
      <div class="text-center">
        <img src="/static/portal/imgs/none.png" class="w-25" />
        <h5 class="my-5 text-black-50">{{ errMessage }}</h5>
      </div>
    </div>
  </div>
</div>

