<div class="content container mb-5 mt-4">
    <div class="theme-size15">首页 > 我的订单 > 购物成功</div>
    <div class="d-flex justify-content-center align-items-center my-5 py-5">

        <div class="text-center">
            <image style="width: 130px; height: auto" src="__STATIC__/portal/imgs/success.png" fit="contain">
            </image>

            <div class="theme-size20 my-4">
                兑换成功
            </div>
            <a class=" m-auto btn btn-light border btn-sm" href="/account/order">查看订单</a>
        </div>

    </div>
</div>
