
<div class="content container mb-5 theme-size15">
  <a href="./login.html" class="d-flex justify-content-end a-hover my-2">已有账号，请登录</a>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-sm-12">
      <div id="registerApp" class="theme-bgwhite rounded-3">
        <div class="py-4 text-center theme-size30">用户注册</div>
        <el-form ref="stepFormOne" :model="stepFormOne" label-width="80px" label-position="left"
                 :rules="stepFormOneRules" status-icon class="login-input">
          <el-form-item label="手机号码" prop="phone">
            <el-input v-model.number="stepFormOne.phone" maxlength="11" placeholder="请输入正确手机号码">
            </el-input>
          </el-form-item>
          <el-form-item label="设置密码" prop="password">
            <el-input v-model.trim="stepFormOne.password" type="text" show-password minlength="6" maxlength="16"
                      placeholder="请输入长度6-16位密码">
            </el-input>
          </el-form-item>
          <el-form-item label="确认密码" prop="confirm_password">
            <el-input v-model.trim="stepFormOne.confirm_password" type="text" show-password minlength="6" maxlength="16" placeholder="请输入确认密码">
            </el-input>
          </el-form-item>
          <div class="">
            <el-button class="w-100 theme-btn4 mb-2 p-3" style="background-color:#FF2C49; color: #fff;"
                       @click="onSubmit('stepFormOne')">立即注册</el-button>
          </div>
        </el-form>
      </div>
    </div>
  </div>
</div>
