<div class="content container mb-5 mt-4">
  <div class="row">
    {include file="member/user/user_nav" select="order" /}
    <div class="col-lg-9 col-12">
      <div class="theme-size20 pt-2 ps-lg-0 ps-3 mt-lg-0 mt-4">我的兑换订单列表</div>
      <div class="my-5 border-bottom" id="tableApp">

        <template>
          <el-table ref="multipleTable" border :data="tableData" tooltip-effect="dark"
                    style="width: 100%">
            <el-table-column label="商品图片">
              <template slot-scope="scope">
                <el-avatar shape="square" :size="100" fit="contain" :src="scope.row.orderItems[0].img">
                </el-avatar>
              </template>
            </el-table-column>
            <el-table-column label="商品名称">
              <template slot-scope="scope">{{ scope.row.orderItems[0].title }}</template>
            </el-table-column>
            <el-table-column prop="name" label="积分" align="center">
              <template slot-scope="scope">{{ scope.row.integral }}</template>
            </el-table-column>
            <el-table-column prop="address" label="数量" align="center">
              <template slot-scope="scope">x {{ scope.row.orderItems[0].quantity }}</template>
            </el-table-column>

            <el-table-column label="订单状态" align="center">
              <template slot-scope="scope">{{ scope.row.status_text }}</template>
            </el-table-column>
            <el-table-column label="成交时间" align="center">
              <template slot-scope="scope">{{ scope.row.create_time }}</template>
            </el-table-column>

          </el-table>
        </template>
      </div>
    </div>
  </div>
</div>

<script>
  new Vue({
    el: '#tableApp',
    data: function () {
      return {
        tableData: []
      }
    },
    created () {
      this.getOrderList()
    },
    methods: {
      getOrderList: function () {
        axios({
          url: '/account/getOrderList',
        }).then(res => {
          if (res.data.code === 1) {
            this.tableData = res.data.data
          } else {
            this.$message(res.data.msg)
          }
        })
      }
    }
  })
</script>
