<div class="content container mb-5 mt-4">
    <div class="row">
        {include file="member/user/user_nav" select='/' /}
        <div class="col-lg-9 col-12">
            <div class="row justify-content-between align-items-center mb-5">
                <div class="col-lg-6">
                    <div class="d-flex flex-wrap align-items-center mt-lg-0 mt-4">
                        <img src="__STATIC__/portal/imgs/2.png" class="me-3" style="width: 49px; height: 49px;border-radius: 50%;" />
                        <div class="theme-size20"><span>{$userInfo.username}</span></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="theme-size15 text-lg-end text-start mt-lg-0 mt-4">积分：<span>{$userInfo.integral}</span></div>
                </div>
            </div>
            <div>
                <div class="theme-size20 border p-3">积分收支明细</div>
                <!-- 循环列表 -->
                {foreach $logs as $val}
                <div
                        class="d-flex justify-content-between align-items-center theme-size15 theme-second border border-top-0 p-3">
                    <div>{$val.title} {$val.type === 1 ? '-' : '+'} {$val.integral_amount}</div>
                    <div>{$val.create_time}</div>
                </div>
                {/foreach}
            </div>
        </div>
    </div>
</div>
