<div class="content container mb-5 mt-4">
  <div class="row">
    {include file="member/user/user_nav" select="password" /}
    <div class="col-lg-9 col-12">
      <div id="passwordApp" class="row justify-content-center">
        <div class="col-lg-6 col-sm-12">
          <h3 class="text-center my-5 theme-size30">修改密码</h3>
          <el-form ref="stepFormOne" :model="stepFormOne" label-width="100px" label-position="left"
                   :rules="stepFormOneRules" status-icon class="login-input">
            <el-form-item label="新密码" prop="password">
              <el-input v-model.trim="stepFormOne.password" show-password minlength="6" maxlength="16"
                        placeholder="请输入新密码">
              </el-input>
            </el-form-item>
            <el-form-item label="确认密码" prop="password_confirm">
              <el-input v-model.trim="stepFormOne.password_confirm" show-password placeholder="确认密码">
              </el-input>
            </el-form-item>
            <div class="">
              <el-button class="w-100 theme-btn4 mb-2 p-3"
                         style="background-color:#FF2C49; color: #fff;" @click="onSubmit('stepFormOne')">确定
              </el-button>
            </div>
          </el-form>
        </div>
      </div>
    </div>
  </div>
</div>
